:root{
    --primary-color: #292524;
    --secondary-color: #78716C;
    --neutral-color: #FFFBF5;
}

a{
    all: unset;
    cursor: pointer;
}

body{
    background-color: var(--neutral-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.bg-image{
    position: absolute;
    width: 615.15px;
    height: 453px;
    left: calc(50% - 655px/2 + 290.5px);
    top: calc(50% - 482.35px/2 + 50.17px);
}

.container{
    width: 90%;
    height: 100%;
    /* background-color: red; */
}

.navbar{
    height: 10%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
}

.a-image{
    /* background-color: cadetblue; */
    width: 50%;
}

.logo img{
    width: 164px;
    height: 29.36px;
}

.a-elements{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: black; */
    width: 50%;
    gap: 40px;
    text-align: center;
}

.signIn{
    background-color: var(--primary-color);
    color: var(--neutral-color);
    min-width: 5.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 5px;
    transition: .5s;
    border: 2px solid var(--primary-color);
    animation: app 1s;

}
.signIn:hover{
    background-color: var(--neutral-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.products{
    animation: app .5s;
}
.AboutUs{
    animation: app .7s;
}
.contactUs{
    animation: app .9s;
}
@keyframes app{
    0%{
        transform: translateY(80%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    } 
}

.products, 
.AboutUs, 
.contactUs{
    height: 20px;
    min-width: 90px;
    transition: transform .5s;
    cursor: pointer;
    overflow: hidden;
    /* background-color: aqua; */
}
  
.products-one, 
.products-two, 
.aboutUs-one, 
.aboutUs-two, 
.contactUs-one, 
.contactUs-two{
    transition: transform .5s;
}
  
.products:hover .products-one, 
.products:hover .products-two , 
.AboutUs:hover .aboutUs-one, 
.AboutUs:hover .aboutUs-two , 
.contactUs:hover .contactUs-one, 
.contactUs:hover .contactUs-two{
    transform: translatey(-100%);
}

.menu-bar{
    display: none;
}

.text-button{
    /* background-color: pink; */
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.principal-text::selection, .secondary-text::selection{
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
      
}

.principal-text, .secondary-text, .signUp-button{
    margin-left: 60px;
}

.principal-text{
    width: 33rem;
    font-size: 3.6vw;
    font-weight: 400;
    color: var(--primary-color);
    z-index: 100;
    animation: principal-text-animation 1.5s;
    margin-bottom: 0;
}
@keyframes principal-text-animation{
    0%{
        transform: translateX(-20%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

.secondary-text{
    /* background-color: pink; */
    width: 25rem;
    color: var(--secondary-color);
    font-size: 1.7vw;
    font-weight: 400;
    animation: secondary-text-animation 1.5s;
    z-index: 100;
}
@keyframes secondary-text-animation{
    0%{
        transform: translateX(20%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }   
}

.signUp-button{
    background-color: var(--primary-color);
    color: var(--neutral-color);
    width: 7rem;
    height: 2.5rem;
    border-radius: 3px;
    transition: transform .3s, background-color .3s, color .3s, border .3s;
    border: 2px solid var(--primary-color);
    font-size: 18px;
    animation: app 1s;
    cursor: pointer;
}

.signUp-button:hover{
    background-color: var(--neutral-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transform: scale(.95);
}

.signUp-button:active{
    transform: scale(1.01);
}

@media screen and (max-width:1280px) {
    .bg-image{
        transform: translateX(-20%);
    } 

    .secondary-text{
        font-size: 2vw;
    }
}

@media screen and (max-width:1103px) {
    .bg-image{
        display: none;
    } 
}

@media screen and (max-width:860px) {
    .a-elements{
        gap: 20px;
    }   

    .principal-text{
        font-size: 5vw;
    }

    .secondary-text{
        font-size: 2.5vw;
    }
}

@media screen and (max-width:670px) {
    .navbar{
        justify-content: space-between;
    }

    .a-image{
        align-self: center;
    }

    .menu-bar{
        display: flex;
        justify-content: center;
        width: 15%;
        cursor: pointer;
        transition: transform .3s;
    }

    .menu-bar:hover{
        transform: scale(1.07);
    }

    .menu-bar:active{
        transform: scale(.95);
    }

    .menu-bar img{
        width: 30px;
        aspect-ratio: 1/1;
    }

    .a-elements{
        display: none;
    }

    .principal-text, .secondary-text, .signUp-button{
        margin-left: 0px;
    }

    .principal-text{
        width: 25rem;
        font-size: 8vw;
    }

    .secondary-text{
        font-size: 3.7vw;
    }
}

@media screen and (max-width:415px){
    .text-button{
        gap: 15px;
    }
    .principal-text{
        width: 15rem;
        
    }

    .secondary-text{
        width: 15rem;
        margin: 0;
        font-size: 5vw;
    }
}
