:root{
    --primary-color: #292524;
    --secondary-color: #78716C;
    --neutral-color: #FFFBF5;
    --card-color: #F2F2F2;
}

a{
    all: unset;
    cursor: pointer;
}

body{
    background-color: var(--neutral-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.container{
    width: 90%;
    height: 100%;
    /* background-color: red; */
}

.navbar{
    position: fixed;
    width: 90%;
    height: 10%;
    background-color: var(--neutral-color);
    /* background-color: green; */
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    z-index: 1;
}

.a-image{
    /* background-color: cadetblue; */
    width: 50%;
}

.logo img{
    width: 164px;
    height: 29.36px;
}

.a-elements{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: black; */
    width: 50%;
    gap: 40px;
    text-align: center;
}

.signIn{
    background-color: var(--primary-color);
    color: var(--neutral-color);
    min-width: 5.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 5px;
    transition: .5s;
    border: 2px solid var(--primary-color);

}
.signIn:hover{
    background-color: var(--neutral-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.products, 
.AboutUs, 
.contactUs{
    height: 20px;
    min-width: 90px;
    transition: transform .5s;
    cursor: pointer;
    overflow: hidden;
    /* background-color: aqua; */
}
  
.products-one, 
.products-two, 
.aboutUs-one, 
.aboutUs-two, 
.contactUs-one, 
.contactUs-two{
    transition: transform .5s;
}
  
.products:hover .products-one, 
.products:hover .products-two , 
.AboutUs:hover .aboutUs-one, 
.AboutUs:hover .aboutUs-two , 
.contactUs:hover .contactUs-one, 
.contactUs:hover .contactUs-two{
    transform: translatey(-100%);
}

.menu-bar{
    display: none;
}

.images-text{
    width: 100%;
    height: 90%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 7rem;
}



.ourStory, 
.ourMission, 
.ourTeam,
.ourPhilosophy,
.ourProducts,
.ourSustainabilityEfforts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: black; */
}

.svg-container{
    /* background-color: blue; */
    width: 50%;
}


.ourStory-image, 
.ourMission-image, 
.ourTeam-image,
.ourPhilosophy-image,
.ourProducts-image,
.ourSustainabilityEfforts-image{
    width: 100%;
    height: fit-content;
    /* background-color: #292524; */
}

.ourStory-text, 
.ourMission-text, 
.ourTeam-text,
.ourPhilosophy-text,
.ourProducts-text,
.ourSustainabilityEfforts-text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    width: 70%;
    height: 14rem;
    border-radius: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ourStory-text div, 
.ourMission-text div, 
.ourTeam-text div,
.ourPhilosophy-text div,
.ourProducts-text div,
.ourSustainabilityEfforts-text div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4vw;
    /* background-color: beige; */
    width: 95%;
    height: 85%;
}


@media screen and (max-width:860px) {
    .a-elements{
        gap: 20px;
    }   

    .ourStory-text div, 
    .ourMission-text div, 
    .ourTeam-text div,
    .ourPhilosophy-text div,
    .ourProducts-text div,
    .ourSustainabilityEfforts-text div{
        font-size: 1.7vw;
    }
}

@media screen and (max-width:670px) {
    .navbar{
        justify-content: space-between;
    }

    .a-image{
        align-self: center;
    }

    .menu-bar{
        display: flex;
        justify-content: center;
        width: 15%;
        cursor: pointer;
        transition: transform .3s;
    }

    .menu-bar:hover{
        transform: scale(1.07);
    }

    .menu-bar:active{
        transform: scale(.95);
    }

    .menu-bar img{
        width: 30px;
        aspect-ratio: 1/1;
    }

    .a-elements{
        display: none;
    }

    .svg-container{
        display: none;
    }

    .ourStory-image, 
    .ourMission-image, 
    .ourTeam-image, 
    .ourPhilosophy-image,
    .ourProducts-image,
    .ourSustainabilityEfforts-image{
        display: none;
    }

    .ourStory-text div, 
    .ourMission-text div, 
    .ourTeam-text div, 
    .ourPhilosophy-text div,
    .ourProducts-text div,
    .ourSustainabilityEfforts-text div{
        font-size: 2.4vw;
    }
}

@media screen and (max-width:500px) {
    .ourStory-text div, 
    .ourMission-text div, 
    .ourTeam-text div, 
    .ourPhilosophy-text div,
    .ourProducts-text div,
    .ourSustainabilityEfforts-text div{
        font-size: 3.1vw;
    }
}

